**/*.lastcheck
**/*.current
__pycache__/
venv/
venv_*/
.idea/
settings/HW_VERSION
settings/SHARED_ADDRESS
settings/SHARED_PASSWORD
settings/SHARED_PATH
settings/SHARED_USERNAME
settings/flask_secret_key
settings/mount_cmd_samba.txt
default_args
